/* form ki css  */

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition:  transform 0.4s, top 0.4s;
    font-family: 'Balsamiq Sans', cursive;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    font-family: 'Balsamiq Sans', cursive;
    color: #eb8a2f;
}
.popup p{
    color: #f73f11;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Balsamiq Sans', cursive;


}

.number {
    padding: .3em;
    text-align: center;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: seashell;
    border-radius: 50%;
}

.main h1 {
    font-family: 'Life Savers', cursive;
    text-align: center;
    margin: 1em;
    font-size: 2.5em;
    text-shadow: 2px 2px 3px grey;
}

form {
    display: flex;
    flex-direction: column;
    background: thistle;
    margin: 0 auto 2em;
    border-radius: 1em;
    padding: 1em 0;
}

input,
textarea {
    border: none;
    padding: .5em;
    border-radius: .25em;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    background: seashell;
    border-bottom: 2px solid purple;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: .25em;
    width: 1em;
    height: 1em;
}

fieldset {
    border: none;
    margin: .5em;
}

legend {
    font-family: 'Comfortaa', cursive;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: .5em;
}

label,
.button {
    font-family: 'Baloo Chettan 2', cursive;
}

/* .button {
	box-shadow: 1px 1px 3px black;
	border: none;
	background-color: #DFDBE5;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	font-size: 1em;
	align-self: center;
 padding: .7em;
	color: black;
}

.button:hover {
	cursor: pointer;
	background: radial-gradient(black, purple);
	color: white;
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
} */

#name,
#mail,
#phone,
textarea {
    margin: .5em 0;
    box-shadow: 1px 1px 2px grey;
}

.order {
    display: none;
    text-align: center;
}

/* img {
		max-width: 100%;
} */

@media (min-width: 550px) {
    form {
        max-width: 50%;
    }
}

/* Css reset */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    /* position: relative;
  z-index: 3; */
    position: sticky;
    top: 0px;

}

input[type=email],
input[type=password],
input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

button {
    background-color: #eb8a2f;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 50%;
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 6px;
}

button:hover {
    background-color: #ff7b00;

}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f73f11;
    float: left;
    font-family: 'Balsamiq Sans', cursive;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    font-family: 'Balsamiq Sans', cursive;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

#logo img {
    height: 100px;
    width: 100px;
    margin-bottom: -32px;
    margin-top: -14px;
}

/* List styling nav */
#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    height: 165%;
    width: 100%;
    background-color: rgb(230, 100, 25);
    position: absolute;
    z-index: -1;
    opacity: 1;
    /* top: 0px;
    left: 0px; */

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Balsamiq Sans', cursive;
    justify-content: center;

}

.modal {
    font-family: 'Balsamiq Sans', cursive;
}

#navbar ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 15px;
}

#navbar ul li a:hover {
    color: rgb(241, 186, 103);
}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 630px;
}

#home::before {
    content: "";
    position: absolute;
    background: url(Img/main\ home\ wallpaper.jpg) no-repeat center center/cover;
    height: 703px;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
    top: 0px;
    left: 0px;
}

#home h3 {
    color: rgb(255 106 0);
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    margin-top: -200px;
}

#home p {
    color: rgb(255 129 0);
    text-align: center;
    padding: 35px;
    font-size: 1.57rem;
    font-family: 'Pushster', cursive;

}

/* Utility class */
.h-primary {
    font-size: 2.8rem;
    padding: 20px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(255 0 82);
}

.h-secondary {
    font-size: 1.4rem;
    padding: 20px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

.btn {
    padding: 6px 20px;
    border: 2px solid blanchedalmond;
    background-color: rgb(255, 135, 80);
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    font-family: 'Balsamiq Sans', cursive;
}

.btn:hover {
    background-color: rgb(255, 94, 0);
    cursor: pointer;
    color: white;

}

@media (max-width:445px) {
    #body {
        background-color: brown;
        color: black;
    }
}

/* services */
#services {
    display: flex;
    margin: 34px;
    justify-content: center;
    align-items: center;

}

#services1::before {
    content: "";
    position: absolute;
    background: url(Img/homewallpaper.jpg) no-repeat center center/cover;
    height: 564px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    margin-top: 10px;

}

#services .box {
    border: 2px solid orange;
    padding: 34px;
    margin: 3px auto;
    border-radius: 23px;
    background-color: rgb(243, 209, 146);
    margin-bottom: 20px;
    box-shadow: 10px 10px orange;

}

#services .box img {
    height: 225px;
    margin: auto;
    display: block;
    border-radius: 10px;
}

#services .box p {
    /* text-align: center; */
    font-family: 'Balsamiq Sans', cursive;
}

/* client section */
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients-section::before {
    content: "";
    position: absolute;
    background: url(Img/pancakes-gfc37ee5c9_1920.jpg) no-repeat center center/cover;
    width: 100%;
    height: 350px;
    z-index: -1;
    opacity: 0.4;
}

#clients-section {
    height: 344px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items img {
    height: 190px;
}

.footer {
    text-align: center;
    background-color: rgb(230, 100, 25);
}

.footer-content {
    padding: 3% 17%;
    color: #fff;
    font-family: 'Balsamiq Sans', cursive;
}

.footer-icon {
    margin: 20px 10px;
    color: #fff;
}

.footer a {
    color: #fff;
}